{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Crinkle</title>
</head>

<body>
    <header>
        Header: Placeholder
    </header>

    <main>
        Main: The current formatting is just to test if the css file is working, modify as needed
    </main>

    <footer>
        Footer: Created by Tara Prasad, Nazanin Siavash, Joshua D. Jones, Jeffrey Kotz, and Bryce Holland - 3/3/2026
    </footer>
</body>
</html>