{% extends "cards/base.html" %}
{% load static %}

{% block top_bar %}
<a class="back-btn" href="{% url 'cards:collection' %}"> ‹ </a>
<span class="screen-title"> My Collection </span>
{% endblock %}

{% block content %}

<div class="form-container">
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
        </div>
        {% endfor %}
        <div class="form-actions">
            <button type="submit" class="btn-tracking btn-tracking-primary">
                Update Settings
            </button>
        </div>
    </form>
</div>

{% endblock %}   

